* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 1100px;
    height: 700px;
    background-color: #282D35;
    padding: 0;
}
