.card {
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
}
.card--image {
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
}

.card .info {
    display: flex;
    align-items: center;
}

.star-icon {
    height: 18px;
    width: 18px;
}

.card--title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.card--price {
    margin-top: auto;
}

.cards-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
}