.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 20px;
}

.header--image {
    height: 140%;
    margin-right: 20px;
    margin-left: 10px;
}

.header--title {
    font-size: 1.75rem;
    margin-right: auto;
}

.header--project {
    font-size: 1.25rem;
    font-weight: 500;
}